.slideshow-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.slideshow-wrapper p {
  font-size: 20px;
  margin-top: 20px;
  word-wrap: wrap;
}

.slideshow-image-wrapper {
  flex-basis: 270px;
}

@media only screen and (max-width: 992px) {
  .slideshow-wrapper {
    flex-wrap: wrap;
  }

  .slideshow-wrapper p,
  .slideshow-wrapper h2 {
    text-align: center;
  }
}
