.navbar-menu-container-link {
  width: fit-content;
  margin: 0 15px;
  position: relative;
}

.navbar-menu-container-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 1px;
  background: rgba(21, 21, 21, 0.6);
  transition: all 300ms linear;
}
.navbar-menu-container-link:hover:before {
  width: 100%;
}

.navbar-menu-dropdownlist {
  position: absolute;
  top: 45px;
  left: 0px;
  width: max-content;
  padding: 20px 0;
  list-style-type: none;
  background: rgb(255, 255, 255);
  box-shadow: rgba(51, 51, 51, 0.1) 0px 0px 20px 0px;
  box-sizing: border-box;
  font-size: 16px;
  text-transform: initial;
  z-index: 1;
}

.navbar-menu-dropdownlist > li {
  padding: 8px 28px;
}

.navbar-menu-dropdownlist > li:hover {
  background: #f8f8f8;
}

.close {
  display: none;
}
.open {
  display: block;
}
