* {
  font: 400 16px / 24px Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #151515;
}

html {
  height: 100%;
  font-size: 16px;
  line-height: 24px;
}

.main-products {
  display: grid;
  grid-template-columns: repeat(auto-fit, 340px);
  gap: 80px 40px;
  justify-content: center;
  max-width: 1135px;
  margin: 100px auto;
}
