.top-title {
  background: #f8f8f8 url(../../images/lowpoly.png) repeat;
  padding: 100px 21vw;
}

.top-title h1 {
  font-size: 32px;
  line-height: 1.4;
  margin: 0;
  color: rgb(21, 21, 21);
}

@media only screen and (max-width: 768px) {
  .top-title h1 {
    font-size: 22px;
  }
}

@media only screen and (max-width: 992px) {
  .top-title {
    padding: 50px;
  }
}
